body{
    background-color: aqua;
}
.contact{
    background-color: aqua;
}
img{
    border-radius: 100%;
    width: 25%;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: grey;
}